header * {
  z-index: 2;
}

header {
  height: 100dvh;

  position: relative;
  padding: 32px 24px;
  overflow-x: hidden;
}
header .background-video_header {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  inset: 0;
  z-index: 1;
  filter: blur(15px);
}

.background-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  position: absolute;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: right;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.685);
}

.non-mobile-links_and-hamburger .hamburger svg,
#closingBtn svg {
  display: none;
}
.non-mobile-links_and-hamburger {
  width: 100%;
}
.non-mobile-links_and-hamburger ul {
  display: flex;
  width: 100%;
  margin: auto 0;
  padding-right: 24px;
  justify-content: end;
}
.non-mobile-links_and-hamburger ul li {
  list-style: none;
  margin-left: 15px;
  padding: 8px;
}

.non-mobile-links_and-hamburger ul li a {
  font-size: 17px;
  color: var(--light-page-color);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--links-font);
  transition: 0.3s;
  padding-bottom: 4px;
}
.non-mobile-links_and-hamburger ul li a:hover {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.gameLogo {
  background: url(/media/Love_Hurts_Title.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 55%;
  left: 50%;
  top: 14%;
  height: 40%;
  transform: translate(-50%);
  position: absolute;
  z-index: 2;
}

header .btn_container {
  background: transparent;
  height: 35%;
  display: grid;
  grid-template-rows: 40% 40% 20%;
  justify-content: right;
  position: relative;
  row-gap: 24px;
  bottom: -50%;
}

.btn_container .itch-io {
  padding: 1px 3px;
}
.btn_container .itch-io img {
  border-radius: 10px;
}
.btn_container .itch-io,
.btn_container .google-play,
.btn_container .discord {
  display: flex;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  transition: 0.4s;
}
.btn_container .itch-io:hover,
.btn_container .google-play:hover {
  scale: 1.02;
}
.btn_container .itch-io:active,
.btn_container .google-play:active {
  scale: 0.98;
}

.btn_container .itch-io img,
.btn_container .google-play img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.btn_container .discord {
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  color: red;
  border-radius: 10px;
}
.btn_container .discord * {
  transition: 3s;
}
.btn_container .discord:hover h1 {
  text-decoration: underline;
  transition: 0.3s;
}
.divider {
  background: rgba(0, 0, 0, 0.685);
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--light-page-color);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4vh;
}
section {
  height: 100vh;
  width: 100%;
}

/* -------------------------#the_creation ---------- */

#the_creation {
  background: var(--dark-gray);
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  padding: 36px;
}
#the_creation .text_container {
  padding: 24px;
  border-radius: 24px;
  box-shadow: 1px 0px 39px -4px rgba(0, 0, 0, 0.52);
  max-width: 750px;
  display: flex;
  color: #191919;
  position: relative;
  z-index: 5;
  min-height: fit-content;
  width: max-content;
  background: var(--dark-gray);
}
.text_container h1 {
  font-family: var(--heading-font);
  text-align: left;
  font-size: 60px;
  margin: 12px 0;
}

.text_container .paragraph-text_creation {
  text-align: left;
  line-height: 1.5;
  font-size: 23px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.text_container .paragraph-text_creation div {
  border-top: 1px solid #191919;
  display: flex;
}
.text_container .paragraph-text_creation div:first-child {
  border-top: none;
}

.text_container .paragraph-text_creation div span:first-child {
  flex-grow: 1;
  display: flex;
  min-width: 91px;
}
#the_creation .assests {
  width: 100%;
  height: 100%;
  position: absolute;
}
.assests {
  position: absolute;
  height: 100vh;
  width: 100vw;
  inset: 0;
}

#the_creation .assests .objects {
  width: 120px;
  aspect-ratio: 1;
}
#the_creation .assests .objects img {
  width: 100%;
  aspect-ratio: 0.845/ 1;
  transform: scaleX(-1);
}
.assests .objects:first-child {
  right: 200px;
  bottom: 25%;
  position: absolute;
}

.assests .objects:nth-child(2) {
  right: 35%;
  bottom: 90px;
  position: absolute;
}
.assests .objects:nth-child(3) {
  right: 10%;
  top: 190px;
  position: absolute;
}
.assests .objects:nth-child(3) img {
  aspect-ratio: 0.895/ 1 !important;
}
.assests .objects:last-child {
  left: 40%;
  top: 100px;
  position: absolute;
}
.assests .objects:last-child img {
  aspect-ratio: 0.944/ 1 !important;
}
/* -------------------------#storyLine---------- */

#game-story {
  background: var(--light-blue);
  position: relative;
  padding: 36px 48px;
  display: grid;
  grid-template-rows: 40% 20% 40%;
}
#game-story .text-container {
  box-shadow: 1px 0px 39px -4px rgba(0, 0, 0, 0.52);
  border-radius: 24px;
  padding: 0 12px;
  width: fit-content;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  z-index: 3;
}
#game-story .text-container .text-wrapper {
  place-content: center;
  height: 100%;
}
#game-story .img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#game-story .text-container h1 {
  font-family: var(--heading-font);
  margin: 12px 0;
  font-size: 28px;
  text-align: center;
}
#game-story .text-container p {
  line-height: 1.5;
  text-align: center;
}
#game-story img {
  height: 100%;
  border-radius: 12px;
  aspect-ratio: 16/9;
}
#game-story .imgOne,
#game-story .imgTwo {
  margin-top: auto;
  height: 95%;
}
#game-story .imgThree,
#game-story .imgFour {
  margin-bottom: auto;
  height: 95%;
}

/* -------------------------#storyLine---------- */
#storyLine {
  background: var(--dark-gray);
  position: relative;
  padding: 24px 12px;
  display: flex;
  place-items: center;
}
#storyLine .text-container {
  padding: 12px;
  margin: 24px auto;
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 39px -4px rgba(0, 0, 0, 0.52);
  border-radius: 24px;
  background: var(--dark-gray);
  position: relative;
  z-index: 3;
}
#storyLine .text-container .text-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 40% 60%;
  padding: 24px;
}
#storyLine .text-container h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  align-items: end;
  justify-content: center;
  display: flex;
}
#storyLine .text-container p {
  line-height: 1.5;
  display: flex;
  text-align: center;
  font-size: 23px;
}

#storyLine .assets {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

/* -------------footer */

footer {
  background: var(--dark-blue);
  height: 80vh;
  display: grid;
  padding: 32px 48px;
  position: relative;
  max-width: 100vw;
  grid-template-columns: 65% 35%;
}
footer .form_logo-container {
  display: grid;
  grid-template-rows: 40% 60%;
}
footer form {
  display: flex;
  width: 100%;
  align-items: center;
}
footer .form-container {
  padding: 24px 0;

  display: grid;
  position: relative;
}
footer .form-container p {
  font-size: 23px;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 12px;
}
footer form input {
  border: none;
  border-bottom: 3px solid var(--light-page-color);
  background: transparent;
  padding: 12px 12px 0;
  outline: none;
  text-align: left;
  color: var(--light-page-color);
  width: 48%;
  max-width: 370px;
  height: 50px;
  margin: 0 0.5%;
  font-size: 20px;
  display: flex;
  align-items: end;
}
footer form input::placeholder {
  color: var(--light-page-color);
  font-size: 20px;
}

/* footer form button {
  background: var(--red);
  width: 15%;
  min-width: 200px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
 
} */
.button {
  background-color: var(--yellow);
  color: #fff;
  width: 15%;
  min-width: 200px;
  height: 60px;
  border: #fff 0.2em solid;
  border-radius: 12px;
  text-align: right;
  transition: all 0.6s ease;
  flex-grow: 2;
  max-width: 242px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;

  place-content: center;
}

.button:hover {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 16px;
}
.button:active {
  background-color: var(--yellow);
  cursor: pointer;
  scale: 0.98;
  border-radius: 16px;
}

.button svg {
  width: 1.6em;
  margin: 0 0.3em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
  top: 50%;
  transform: translateY(-50%);
  color: var(--red);
}

.button:hover svg {
  transform: translateX(7px) translateY(-50%);
  margin: 0 0.2em;
  color: #fff;
}
.button:hover .text {
  color: var(--red);
}
.text {
  font-size: 25px;
  font-family: var(--heading-font);
  font-weight: 700;
  text-align: center;
  margin-left: 0.3em;
  padding-left: 0.3em;
  transition: all 0.6s ease;
}
footer .img_container {
  position: relative;
  display: flex;

  align-items: center;
}

footer .img_container img {
  aspect-ratio: 2.66/1;
  height: 200px;
}

footer .bottom-links-and_downloads .download_buttons img {
  aspect-ratio: 3.32/1;
  height: 100px;
  position: absolute;
}
footer .bottom-links-and_downloads .download_buttons .itch_io img {
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}
footer .bottom-links-and_downloads .download_buttons .google_play img {
  cursor: pointer;
  margin-top: 70px;
  transition: 0.4s;
}
footer .bottom-links-and_downloads .download_buttons .google_play img:hover {
  scale: 1.02;
}
footer .bottom-links-and_downloads .download_buttons .itch_io img:hover {
  scale: 1.02;
}
footer .google_play,
footer .itch_io {
  position: relative;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bottom-links-and_downloads .links ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  position: relative;
}
.bottom-links-and_downloads .links ul li {
  text-align: end;
  margin: 10px 0;
}
.bottom-links-and_downloads .links ul li a {
  padding: 12px;
  text-decoration: none;
  color: var(--light-page-color);
  font-size: 17px;
  color: #fff;
  position: relative;
  transition: 0.4s;
  text-transform: capitalize;
  font-family: var(--links-font);
}
.bottom-links-and_downloads .links ul li a:hover {
  color: var(--yellow);
  font-size: 20px;
  transform: translateX(-20px);
}
footer .bottom-links-and_downloads {
  display: grid;
  grid-template-rows: 50% 50%;
}

#letsStayConnected {
  color: var(--light-page-color);
  padding: 12px 8px;
  width: 100%;
}
#letsStayConnected h1 {
  text-align: left;
  font-family: var(--heading-font);
  margin-bottom: 0px;
  font-size: 60px;
}
#letsStayConnected p {
  font-size: 23px;
  text-align: left;
  font-family: var(--heading-font);
}
