@media (max-width: 349px) {
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    height: 65px;
  }
  .mobile-downloads_container img {
    height: 50px;
  }
  .mobile-downloads_container img:last-child {
    border-radius: 6px;
  }
  .bottom-links-and_downloads .links ul li a {
    font-size: 8px;
  }
  #letsStayConnected {
    padding: 0;
  }
}
@media (min-width: 350px) and (max-width: 399px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 48px !important ;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    height: 90px;
  }
  .mobile-downloads_container img {
    height: 50px;
  }
  .mobile-downloads_container img:last-child {
    border-radius: 6px;
  }
  #letsStayConnected {
    padding: 0;
  }
}
@media (min-width: 400px) and (max-width: 449px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 56px !important ;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    height: 100px;
  }
}
@media (min-width: 450px) and (max-width: 499px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 64px !important ;
  }
}
@media (min-width: 500px) and (max-width: 549px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 72px !important ;
  }
}
@media (min-width: 550px) and (max-width: 600px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 72px !important ;
  }
}
@media (min-width: 601px) and (max-width: 649px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 75px !important;
  }
}
@media (min-width: 650px) and (max-width: 699px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 83px !important;
  }
}
@media (min-width: 700px) and (max-width: 749px) {
  footer .bottom-links-and_downloads .download_buttons img {
    height: 88px !important;
  }
}
@media (min-width: 750px) and (max-width: 799px) {
}
@media (min-width: 800px) and (max-width: 849px) {
}
@media (min-width: 850px) and (max-width: 899px) {
}
@media (min-width: 900px) and (max-width: 949px) {
  #game-story img {
    height: 68% !important;
  }
}
@media (min-width: 950px) and (max-width: 999px) {
  #game-story img {
    height: 70% !important;
  }
}
@media (min-width: 1000px) and (max-width: 1049px) {
  #game-story img {
    height: 76% !important;
  }
}
@media (min-width: 1050px) and (max-width: 1099px) {
}
@media (min-width: 1100px) and (max-width: 1149px) {
}
@media (min-width: 1150px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1249px) {
}
@media (min-width: 1250px) and (max-width: 1299px) {
}
@media (min-width: 1300px) and (max-width: 1349px) {
}
@media (min-width: 1350px) and (max-width: 1399px) {
}
@media (min-width: 1400px) and (max-width: 1449px) {
}
@media (min-width: 1450px) and (max-width: 1499px) {
}
@media (min-width: 1500px) and (max-width: 1549px) {
}
@media (min-width: 1550px) and (max-width: 1599px) {
  #game-story .imgOne + .imgTwo {
    margin-top: auto;
    height: 95%;
  }
  #game-story .imgThree + .imgfour {
    margin-bottom: auto;
    height: 95%;
  }
}
@media (min-width: 601px) and (max-width: 749px) {
  #the_creation .text_container {
    margin: auto;
  }
  .text_container h1 {
    font-size: 50px;
  }
  .text_container p {
    font-size: 18px;
  }
  .assests .objects:first-child {
    right: 25%;
    bottom: 8%;
  }
  .assests .objects:nth-child(2) {
    right: 60%;
    bottom: 8%;
  }
  .assests .objects:nth-child(3) {
    right: 20%;
    top: 12%;
  }
  .assests .objects:last-child {
    left: 20%;
    top: 12%;
  }
  .text_container .paragraph-text_creation div span:first-child {
    flex-grow: 1;
    display: flex;
    max-width: 75px;
    min-width: 75px;
  }
  .assests .objects:nth-child(3) img {
    transform: scaleX(1) !important;
  }
  .assests .objects:first-child img {
    transform: scaleX(1) !important;
  }
  #game-story {
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
  }
  #game-story img {
    height: 40% !important;
  }
  #game-story .img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  #game-story .text-container {
    align-items: end;
    padding: 12px;
    margin-top: auto;
    height: max-content;
  }
  .gameLogo {
    width: 60.5%;
    height: 44%;
  }
  header .btn_container {
    row-gap: 16px;
    justify-content: center;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    scale: 0.9;
  }
  #storyLine .text-container {
    padding: 0px;
  }
  #game-story {
    padding-inline: 12px;
  }
  #storyLine .text-container .text-wrapper {
    padding: 12px 15px;
  }
  #storyLine .text-container h1 {
    margin-bottom: 10px;
    font-size: 50px;
  }
  #storyLine .text-container p {
    font-size: 18px;
  }
  .text_container .paragraph-text_creation div {
    display: flex;
    font-size: 18px;
  }
  #storyLine .assets .objects img {
    scale: 1.5;
  }
  #storyLine .assets .objects:nth-child(2) {
    left: 4%;
  }
  #storyLine .assets .objects:nth-child(3) {
    right: 4%;
  }
  #storyLine .assets .objects:nth-child(4) {
    left: 13%;
  }
  #storyLine .assets .objects:nth-child(5) {
    left: 42%;
  }
  #storyLine .assets .objects:nth-child(6) {
    right: 13%;
  }
  footer {
    grid-template-rows: 58% 1fr;
    grid-template-columns: none;
  }
  footer form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: auto 0;
  }
  footer form input {
    text-align: center;
  }
  footer .bottom-links-and_downloads {
    display: grid;
    grid-template-rows: 65% 35%;
  }
  footer .bottom-links-and_downloads .download_buttons {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 95px;
  }
  footer .google_play,
  footer .itch_io {
    justify-content: center;
    height: 100%;
  }
  footer .bottom-links-and_downloads .download_buttons .google_play img {
    margin-top: 0px;
  }
  .bottom-links-and_downloads .links ul {
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .form_logo-container {
    grid-template-columns: 100%;
    display: block;
    height: 100%;
  }
  footer .form-container {
    padding: 24px 0;
    display: grid;
    height: 100%;
  }
  footer .img_container {
    display: none;
  }
  footer form input {
    width: 49%;
    height: fit-content;
  }
  footer form .button {
    width: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 0;
  }
  footer .form-container p {
    padding: 0;
  }
  footer .form-container {
    grid-template-rows: 50% 50%;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  #the_creation .text_container {
    margin: auto;
  }
  .text_container h1 {
    font-size: 50px;
  }
  .text_container p {
    font-size: 18px;
  }
  .text_container .paragraph-text_creation div {
    display: flex;
    font-size: 18px;
  }
  .assests .objects:first-child {
    right: 25%;
    bottom: 8%;
  }
  .assests .objects:nth-child(2) {
    right: 60%;
    bottom: 8%;
  }
  .assests .objects:nth-child(3) {
    right: 20%;
    top: 12%;
  }
  .assests .objects:last-child {
    left: 20%;
    top: 12%;
  }
  .text_container .paragraph-text_creation div span:first-child {
    flex-grow: 1;
    display: flex;
    max-width: 88px;
    min-width: 88px;
  }
  .assests .objects:nth-child(3) img {
    transform: scaleX(1) !important;
  }
  .assests .objects:first-child img {
    transform: scaleX(1) !important;
  }
  #game-story {
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
  }
  #game-story img {
    height: 40% !important;
  }
  #game-story .img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  #game-story .text-container {
    align-items: end;
    padding: 12px;
    margin-top: auto;
    height: max-content;
  }
  .gameLogo {
    width: 60.5%;
    height: 44%;
  }
  header .btn_container {
    row-gap: 16px;
    justify-content: center;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    scale: 0.9;
  }
  #storyLine .text-container {
    padding: 0px;
  }
  #storyLine .text-container .text-wrapper {
    padding: 12px 15px;
  }
  #storyLine .text-container h1 {
    margin-bottom: 10px;
    font-size: 50px;
  }
  #storyLine .text-container p {
    font-size: 18px;
  }
  #storyLine .assets .objects img {
    scale: 1.5;
  }
  #storyLine .assets .objects:nth-child(2) {
    left: 4%;
  }
  #storyLine .assets .objects:nth-child(3) {
    right: 4%;
  }
  #storyLine .assets .objects:nth-child(4) {
    left: 13%;
  }
  #storyLine .assets .objects:nth-child(5) {
    left: 42%;
  }
  #storyLine .assets .objects:nth-child(6) {
    right: 13%;
  }
  footer {
    grid-template-rows: 58% 1fr;
    grid-template-columns: none;
  }
  footer form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: auto 0;
  }
  footer form input {
    text-align: center;
  }
  footer .bottom-links-and_downloads {
    display: grid;
    grid-template-rows: 65% 35%;
  }
  footer .bottom-links-and_downloads .download_buttons {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 95px;
  }
  footer .google_play,
  footer .itch_io {
    justify-content: center;
    height: 100%;
  }
  footer .bottom-links-and_downloads .download_buttons .google_play img {
    margin-top: 0px;
  }
  .bottom-links-and_downloads .links ul {
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .form_logo-container {
    grid-template-columns: 100%;
    display: block;
    height: 100%;
  }
  footer .form-container {
    padding: 24px 0;
    display: grid;
    height: 100%;
  }
  footer .img_container {
    display: none;
  }
  footer form input {
    width: 49%;
    height: fit-content;
  }
  footer form .button {
    width: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 0;
  }
  footer .form-container p {
    padding: 0;
  }
  footer .form-container {
    grid-template-rows: 50% 50%;
  }
}
@media (min-width: 901px) and (max-width: 1049px) {
  .text_container .paragraph-text_creation div {
    display: flex;
    font-size: 20px;
  }
  .assests .objects:first-child {
    right: 0px;
    bottom: 25%;
    position: absolute;
  }
  .assests .objects:last-child {
    left: 60%;
    top: 70px;
    position: absolute;
  }
  .assests .objects:nth-child(3) {
    right: 0%;
    top: 190px;
    position: absolute;
  }
  .assests .objects:nth-child(2) {
    right: 30%;
    bottom: 50px;
    position: absolute;
  }
  .text_container .paragraph-text_creation div span:first-child {
    flex-grow: 1;
    display: flex;
    max-width: 88px;
  }
  #game-story img {
    height: 70%;
  }
  .gameLogo {
    width: 60.5%;
    height: 44%;
  }
  header .btn_container {
    row-gap: 12px;
    justify-content: center;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    scale: 0.9;
  }
  #storyLine .text-container {
    padding: 0px;
  }

  #storyLine .text-container h1 {
    margin-bottom: 10px;
    font-size: 50px;
  }
  #storyLine .text-container p {
    font-size: 20px;
  }
  #storyLine .assets .objects img {
    scale: 1.5;
  }
  footer {
    grid-template-columns: 60% 1fr;
  }
  footer form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  footer form input {
    width: 49%;
    height: fit-content;
  }
  footer form .button {
    width: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 0;
  }
  footer .form-container p {
    padding: 0;
  }
  footer .form-container {
    grid-template-rows: 50% 50%;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 73px;
  }
}

@media (min-width: 1050px) and (max-width: 1199px) {
  #game-story img {
    height: 80% !important;
  }
  header .btn_container {
    row-gap: 16px;
  }
  #storyLine .text-container {
    padding: 0px;
  }
  #storyLine .text-container .text-wrapper {
    padding: 0;
  }
  #storyLine .text-container h1 {
    margin-bottom: 10px;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    scale: 0.8;
  }
  .assests .objects:first-child {
    right: 130px;
    bottom: 25%;
    position: absolute;
  }
  .assests .objects:last-child {
    left: 60%;
    top: 70px;
    position: absolute;
  }
  .assests .objects:nth-child(2) {
    right: 30%;
    bottom: 50px;
    position: absolute;
  }
  footer {
    grid-template-columns: 65% 1fr;
  }
  footer form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  footer form input {
    width: 49%;
    height: fit-content;
  }
  footer form .button {
    width: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 0;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 76px;
  }
}
@media (min-width: 1200px) and (max-width: 1349px) {
  #game-story img {
    height: 88% !important;
  }
  header .btn_container {
    row-gap: 18px;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    scale: 0.9;
  }
  .assests .objects:last-child {
    left: 40%;
    top: 70px;
    position: absolute;
  }
  .assests .objects:nth-child(2) {
    right: 50%;
    bottom: 50px;
    position: absolute;
  }
  #storyLine .text-container .text-wrapper {
    padding: 0;
  }
  #storyLine .text-container h1 {
    margin-bottom: 10px;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 85px;
  }
}
@media (min-width: 1350px) and (max-width: 1499px) {
  #game-story img {
    height: 90% !important;
  }
  header .btn_container {
    row-gap: 18px;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    scale: 0.9;
  }
  .assests .objects:last-child {
    left: 40%;
    top: 70px;
    position: absolute;
  }
  .assests .objects:nth-child(2) {
    right: 50%;
    bottom: 50px;
    position: absolute;
  }
  #storyLine .text-container .text-wrapper {
    padding: 14px;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 95px;
  }
}
@media (min-width: 1500px) and (max-width: 1649px) {
  footer {
    grid-template-columns: 1026px 1fr;
  }
  footer .form_logo-container {
    display: grid;
    grid-template-rows: 40% 60%;
    min-width: 906px;
  }
  header .btn_container {
    bottom: -60%;
  }
  #game-story .imgOne + .imgTwo {
    margin-top: auto !important;
    height: 95% !important;
  }
  #game-story .imgThree + .imgFour {
    margin-bottom: auto !important;
    height: 95% !important;
  }
}
@media (min-width: 1650px) and (max-width: 1799px) {
  footer {
    grid-template-columns: 1026px 1fr;
  }
  #game-story .imgOne + .imgTwo {
    margin-top: auto !important;
    height: 95% !important;
  }
  #game-story .imgThree,
  #game-story .imgFour {
    margin-bottom: auto !important;
    height: 95% !important;
  }
}
@media (min-width: 1800px) and (max-width: 1950px) {
}
@media (min-width: 1951px) and (max-width: 2100px) {
}
