@media (max-width: 600px) {
  header * {
    z-index: 2;
    border: 1px solid green;
  }
  header {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    background: var(--blue);
    padding: 32px 12px;
    overflow-y: hidden;
  }
  nav {
    position: absolute;
    width: 100%;
    height: 6vh;
    inset: 0;
    z-index: 10;
    background: rgba(100, 100, 100, 0.685);
  }
  .non-mobile-links_and-hamburger {
    display: flex;
    padding: 0 12px;
    place-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .non-mobile-links_and-hamburger .hamburger,
  .non-mobile-links_and-hamburger #closingBtn {
    width: 55px;
    height: 55px;
  }
  .non-mobile-links_and-hamburger .hamburger {
    display: none;
  }
  .non-mobile-links_and-hamburger #closingBtn {
    position: absolute;
    right: 14px;
    top: -2px;
    z-index: 100;
  }
  .non-mobile-links_and-hamburger .hamburger svg,
  .non-mobile-links_and-hamburger #closingBtn svg {
    fill: var(--light-page-color);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: relative;
    display: block;
  }
  .non-mobile-links_and-hamburger ul {
    display: none;
  }
  #mobile-nav_view {
    height: 100vh;
    background: var(--light-blue);
    grid-template-rows: 1fr 1fr;
    z-index: 3;
    max-width: 100vw;
    position: absolute;
    inset: 0;
    display: block;
    z-index: 1000;
    padding-top: 2vh;
  }

  #mobile-nav_view #closingBtn svg {
    right: 12px;
    top: 6px;
    position: absolute;
  }
  .mobile-nav_links {
    margin: auto 0;
    padding: 42px 0 0;
    height: 60%;
  }
  #mobile-nav_view .mobile-nav_links ul {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
  }
  #mobile-nav_view .mobile-nav_links ul li {
    list-style: none;
    margin: 30px 0;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 30px;
    text-transform: uppercase;
  }
  #mobile-nav_view .mobile-nav_links ul li a {
    text-decoration: none;
    color: var(--red);
  }

  .mobile-downloads_container {
    height: 20%;
    display: grid;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
  }
  .mobile-downloads_container img {
    aspect-ratio: 3.32 / 1;
    height: 60px;
    justify-self: center;
  }
  .mobile-downloads_container img:last-child {
    border-radius: 6px;
  }
  .mobile_nav-linking-links {
    height: 20%;
  }
  .mobile_nav-linking-links ul {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .mobile_nav-linking-links ul li {
    text-align: center;
    list-style: none;
    margin: 10px 0;
  }
  .mobile_nav-linking-links ul li a {
    padding: 12px;
    text-decoration: none;
    color: var(--light-page-color);
    font-size: 18px;
    color: red;
    position: relative;
    transition: 0.4s;
    font-family: var(--general-font);
  }
  .gameLogo {
    width: 100%;
    aspect-ratio: 1;
    background: transparent;
    margin: 20% 0 10%;
    position: relative;
    display: flex;
    place-content: center;
  }
  .gameLogo {
    background: url(/media/Love_Hurts_Title.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -40%);
    margin-bottom: 0;
  }
  header .btn_container {
    background: transparent;
    height: 50%;
    display: grid;
    justify-content: center;
    position: relative;
    top: 0%;
    gap: 0;
    grid-template-rows: none;
    align-content: center;
  }
  .btn_container .itch-io,
  .btn_container .google-play,
  .btn_container .discord {
    display: flex;
    overflow: visible;
    color: red;
    height: 100px;
    justify-self: center;
    margin: 15px 0;
  }
  .btn_container .itch-io img,
  .btn_container .google-play img {
    aspect-ratio: 3.32 / 1;
    height: 100%;
  }
  .btn_container .discord {
    align-items: center;
    text-decoration: underline;
    padding: 10%;
    aspect-ratio: 3.32 / 1;
    height: 100px;
  }

  .divider {
    background: rgba(0, 0, 0, 0.685);
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--light-page-color);
    font-size: 12px;
    text-align: center;
    width: 100%;
  }

  section {
    height: 100vh;
    width: 100%;
  }

  #the_creation {
    background: var(--dark-gray);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 36px 12px;
  }
  #the_creation .text_container {
    margin: auto;
  }
  .text_container h1 {
    font-size: 50px;
    text-align: center;
  }
  .text_container p {
    font-size: 18px;
    text-align: center;
  }
  .assests .objects:first-child {
    right: 23%;
    bottom: 8%;
  }
  .assests .objects:nth-child(2) {
    left: 12%;
    bottom: 8%;
  }
  .assests .objects:nth-child(3) {
    right: 23%;
    top: 12%;
  }
  .assests .objects:last-child {
    left: 12%;
    top: 12%;
  }
  .assests .objects img {
    scale: 0.8;
  }
  .assests .objects:nth-child(3) img {
    transform: scaleX(1) !important;
  }
  .assests .objects:first-child img {
    transform: scaleX(1) !important;
  }
  /* --------------Game story-------------- */
  #game-story {
    background: var(--light-blue);
    position: relative;
    padding: 24px 12px;
  }
  #game-story .text-container {
    background: rgba(202, 185, 185, 0.377);
    padding: 0 12px;
    width: fit-content;
    max-width: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  #game-story .img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 12px 0;
  }
  #game-story .text-container {
    align-items: end;
    padding: 12px;
  }

  #game-story .text-container h1 {
    font-family: var(--heading-font);
    margin: 12px 0;
    font-size: 28px;
  }
  #game-story .text-container p {
    line-height: 1.5;
    text-align: center;
  }
  #game-story img {
    height: 48% !important;
    aspect-ratio: 16/8;
  }

  /* --------------StoryLine-------------- */
  #storyLine {
    background: var(--blue);
    position: relative;
    padding: 24px 12px;
    display: flex;
    place-items: center;
  }

  #storyLine .text-container {
    padding: 12px;
    text-align: center;
    width: 80%;
  }
  #storyLine .text-container .text-wrapper {
    padding: 0;
  }
  #storyLine .text-container h1 {
    font-family: var(--heading-font);
    margin: 12px 0;
    font-size: 40px;
  }
  #storyLine .text-container p {
    line-height: 1.5;
    font-size: 16px;
  }
  #storyLine .assets .objects img {
    scale: 1;
    position: absolute;
    left: 70%;
    top: 30%;
    transform: translateX(-80%);
  }
  #storyLine .assets .objects:first-child {
    left: 20%;
    top: 20%;
  }
  #storyLine .assets .objects:nth-child(2) {
    left: 12%;
    top: 77%;
    display: none;
  }
  #storyLine .assets .objects:nth-child(3) {
    right: 12%;
    top: 77%;
  }
  #storyLine .assets .objects:nth-child(4) {
    left: 0%;
    top: 70%;
  }
  #storyLine .assets .objects:nth-child(5) {
    left: 12%;
    top: 77%;
  }
  #storyLine .assets .objects:nth-child(6) {
    right: 0%;
    top: 70%;
  }
  #storyLine .assets .objects:nth-child(7) {
    right: 30%;
    top: 20%;
  }
  #storyLine .assets .objects:nth-child(8) {
    left: 0%;
    top: 8%;
  }
  #storyLine .assets .objects:nth-child(9) {
    right: 0%;
    top: 8%;
  }

  footer {
    grid-template-rows: 66% 1fr;
    grid-template-columns: none;
    padding: 12px;
  }
  footer form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    background: green;
  }
  footer form input {
    text-align: center;
  }
  footer .bottom-links-and_downloads {
    display: grid;
    grid-template-rows: 65% 35%;
  }
  footer .bottom-links-and_downloads .download_buttons {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  footer .bottom-links-and_downloads .download_buttons img {
    height: 48px;
  }
  footer .google_play,
  footer .itch_io {
    justify-content: center;
    height: 100%;
  }
  footer .bottom-links-and_downloads .download_buttons .google_play img {
    margin-top: 0px;
  }
  .bottom-links-and_downloads .links ul {
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .form_logo-container {
    grid-template-columns: 100%;
    display: block;
    height: 100%;
  }

  footer .img_container {
    display: none;
  }
  footer form input {
    width: 100%;
    max-width: none;
  }
  footer form button {
    width: 100%;
    max-width: none;
    margin-top: 0;
    margin-left: 0;
    height: 60px;
  }
  footer .form-container p {
    padding: 0;
    text-align: center;
  }
  footer .form-container {
    grid-template-rows: 30% 70%;
    height: 100%;
    padding: 0;
  }
}
